@font-face {
    font-family: 'VTB Group';
    src: url('../assets/fonts/VTB/VTBGroup-Light.woff2') format('woff2'),
        url('../assets/fonts/VTB/VTBGroup-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'VTB Group';
    src: url('../assets/fonts/VTB/VTBGroup-DemiBold.woff2') format('woff2'),
        url('../assets/fonts/VTB/VTBGroup-DemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'VTB Group';
    src: url('../assets/fonts/VTB/VTBGroup-Bold.woff2') format('woff2'),
        url('../assets/fonts/VTB/VTBGroup-Bold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'VTB Group Book';
    src: url('../assets/fonts/VTB/VTBGroup-Book.woff2') format('woff2'),
        url('../assets/fonts/VTB/VTBGroup-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
