.header{
    box-shadow: 0 2px 4px rgba(36, 47, 83, 0.06);
    position: relative;
    &_inner{
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 80px;
        padding: 0 20px;
        @include breakpoint(small down){
            min-height: 55px;
            padding: 0 15px;
        }
    }
    &_logo{
        @include breakpoint(medium down){
            max-width: 152px;
        }
        @include breakpoint(small down){
            margin-right: auto;
            max-width: 108px;
        }
    }
    &_center{
        display: grid;
        grid-template-columns: auto minmax(200px, 310px);
        column-gap: 20px;
        padding: 0 30px;
        margin: auto;
        @include breakpoint(medium down){
            display: block;
            padding: 0 10px;
        }
        @include breakpoint(small down){
            display: none;
        }
    }
    &_view{
        margin: 0;
        list-style: none;
        .button.hollow{
            padding-right: 40px;
            position: relative;
            &:after{
                content: '';
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background-color: $primary-color;
                position: absolute;
                right: 15px;
                top: calc(50% - 2.5px);
            }
        }
    }
    &_search{
        width: 100%;
        max-width: 310px;
        position: relative;
        @include breakpoint(medium down){
            display: none;
        }
        input{
            padding-left: 35px;
        }
        &_button{
            position: absolute;
            left: 3px;
            top: 0;
            padding: 11.5px;
            color: #8f9399;
        }
    }
    &_actions{
        margin: 0;
        list-style: none;
        display: grid;
        grid-template-columns: repeat(3, auto) 50px;
        column-gap: 54px;
        align-items: center;
        @include breakpoint(xlarge down){
            column-gap: 34px;
        }
        @include breakpoint(medium down){
            grid-template-columns: repeat(4, auto) 62px;
            column-gap: 20px;
        }
        @include breakpoint(small down){
            column-gap: 15px;
            grid-template-columns: repeat(3, 18px) 35px;
            svg{
                height: auto;
                max-width: 100%;
            }
            li:nth-child(2){
                display: none;
            }
        }
        &_search{
            display: none;
            @include breakpoint(medium down){
                display: block;
            }
        }
        li{
            position: relative;
        }
    }
    li .header_avatar{
        @include breakpoint(medium down){
            max-width: 46px;
            float: right;
        }
        @include breakpoint(small down){
            max-width: 30px;
        }
    }
    &_avatar{
        border-radius: 50%;
        overflow: hidden;
        img{
            display: block;
        }
    }
    &_hamb{
        -webkit-tap-highlight-color: transparent;
        user-select: none;
        width: 72px;
        transform: translateY(0);
        transition: 400ms;
        position: absolute;
        left: 0;
        top: calc(50% - 36px);
        @include breakpoint(1870 down){
            position: static;
            margin-left: -18px;
        }
        @include breakpoint(small down){
            width: 55px;
            margin-left: -16px;
        }
        &[aria-expanded="true"]{
            .header_hamb{
                &_icon{
                    transform: rotate(45deg);
                }
                &_line{
                    &--top{
                        stroke-dashoffset: -98px;
                    }
                    &--bottom{
                        stroke-dashoffset: -138px;
                    }
                }
            }
        }
        &_icon{
            display: block;
            width: 100%;
            transition: 400ms;
        }
        &_line{
            fill: none;
            transition: stroke-dasharray 500ms, stroke-dashoffset 500ms;
            stroke: $primary-color;
            stroke-width: 6;
            stroke-linecap: round;
            @include breakpoint(small down){
                stroke-width: 3;
            }
            &--top{
                stroke-dasharray: 40 139;
            }
            &--bottom{
                stroke-dasharray: 40 180;
            }
        }
    }
    &_menu{
        position: absolute;
        top: 80px !important;
        opacity: 0;
        visibility: hidden;
        background: $white;
        transition: opacity 250ms, visibility 250ms;
        z-index: 2;
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.05);
        @include breakpoint(small down){
            top: 55px !important;
            width: 100%;
        }
        &--main{
            padding: 10px 0 26px;
            border-radius: 0px 0px 10px 0;
        }
        &--profile{
            padding-top: 15px;
            border-radius: 0px 0px 10px 10px;
            max-width: 386px;
            @include breakpoint(medium down){
                max-width: 310px;
            }
            @include breakpoint(small down){
                max-width: none;
            }
        }
        &.is-open{
            visibility: visible;
            opacity: 1;
        }
    }
    &_profile{
        display: flex;
        align-items: center;
        padding: 0 10px 0 35px;
        @include breakpoint(medium down){
            padding: 0 20px;
        }
        .header_avatar{
            flex: 0 0 auto;
        }
        &_name{
            margin: 0 0 0 20px;
            font-size: 20px;
            font-weight: 600;
            color: $primary-color;
            font-family: $header-font-family;
            line-height: 1.1;
            @include breakpoint(medium down){
                font-size: 16px;
            }
        }
    }
}