nav(aria-label='Вы тут:', role='navigation')
    ul.breadcrumbs
        li
            a(href='#') Товары
        li
            a(href='#') Телекоммуникации и IT
        li
            a(href='#') Компьютеры и компьютерная переферия
        li
            |  Моноблоки
