mixin filters(position, tab)
    .catalog_items_filters&attributes(attributes)
        if (position == 'top')
            button.catalog_items_button(data-toggle=tab)
                if tab == 'itemsLeft'
                    +icon('list', [21, 16])
                    | Категории
                else if tab == 'filtersLeft'
                    +icon('filter', [17, 16])
                    | Фильтр
        .catalog_items_filter
            | Показывать по:
            select
                option 10
                option 20
                option 50
        nav(aria-label='Страницы')
            ul.pagination
                li.pagination-previous.disabled
                    +icon('arrow_left', [6, 11])
                li.current
                    |  1
                li
                    a(href='#', aria-label='Страница 2') 2
                li
                    a(href='#', aria-label='Страница 3') 3
                li.ellipsis(aria-hidden='true')
                li
                    a(href='#', aria-label='Page 450') 450
                li.pagination-next
                    a(href='#', aria-label='Next page')
                        +icon('arrow_right', [6, 11])
        if (attributes.class && attributes.class.includes('auction'))
            button.button.large.icon
                +icon('plus', [18, 18])
                | Создать